<div class="card">
  <img src="{{ program.image }}" alt="Image" class="img-fluid" />
  <div class="card-body">
    <h2 class="card-title">{{ program.name }}</h2>
    <p class="card-text">
      {{ program.description | truncate: 40:"..." }}
    </p>
    <p>
      <button
        (click)="addToMyWod()"
        class="btn btn-primary text-white px-3 m-1"
      >
        Take this WOD
      </button>
      <button class="btn btn-primary text-white px-3">
        More Details
      </button>
    </p>
  </div>
</div>
